<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Düzenle | Kişisel Blog</title>
    <link rel="stylesheet" href="/static/stil.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="#">ELOG</a>
            </div>
            <ul class="nav-links">
                <li><a href="#" onclick="updateCurrentPage('/anasayfa')">Anasayfa</a></li>
                <li><a href="#" onclick="updateCurrentPage('/hakkimda')">Hakkımda</a></li>
                <li><a href="#" onclick="updateCurrentPage('/blog')">Blog</a></li>
                <li class="login"><a href="/">Giriş Yap</a></li>
                <li class="logout" style="display: none;"><a href="#" id="logoutButton">Çıkış Yap</a></li>
            </ul>
            
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

    <main>
        <section class="edit-post">
            <div class="container">
                <h1>Yazıyı Düzenle</h1>
                <form action="{{ url_for('duzenle', id=post['id']) }}" method="post">
                    <div class="form-group">
                        <label for="title">Başlık</label>
                        <input type="text" id="title" name="title" value="{{ post['baslik'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="content">İçerik</label>
                        <textarea id="content" name="content" rows="10" required>{{ post['icerik'] }}</textarea>
                    </div>
                    <button type="submit" class="btn">Güncelle</button>
                </form>
            </div>
        </section>
    </main>
    
    <button id="backButton" onclick="goBack()">Önceki Sayfa</button>
    
    <footer>
        <p>&copy; 2024 Kişisel Blog. Tüm hakları saklıdır.</p>
    </footer>

    <script>
        // Javascript ile Menü toggle işlemleri
        const menuToggle = document.querySelector('.menu-toggle');
        const navLinks = document.querySelector('.nav-links');
    
        menuToggle.addEventListener('click', () => {
            navLinks.classList.toggle('nav-active');
        });

        // Kullanıcı girişi kontrolü
        const isLoggedIn = true; 
    
        const logoutButton = document.getElementById('logoutButton');
        if (isLoggedIn) {
            document.body.classList.add('logged-in');
            document.querySelector('.login').style.display = 'none';
            document.querySelector('.logout').style.display = 'inline-block';
        }
    
        // Çıkış yapma işlemi
        logoutButton.addEventListener('click', () => {
            window.location.href = '/';
        });

        // Geri butonu işlevi
        function goBack() {
            window.history.back();
        }
        
        // current_page değişkenini güncellemek için sunucuya POST isteği gönderme
        function updateCurrentPage(page) {
        fetch('/update_current_page', {
            method: 'POST',
            body: JSON.stringify({ current_page: page }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(() => {
            // Kullanıcıyı yeni sayfaya yönlendir
            window.location.href = page;
        }).catch((error) => {
            console.error('Error updating current page:', error);
        });
    }
    </script>
</body>
</html>
